$color__logo : #f1641e;
$color__text-main : #222222;
$color__text-sub : #258635;
$color__text-primary : #ffffff;

$bg-banner-home: #DDEBE3;
$bg-best-seller: #FDEBD2;
$bg-free-shipping: #D4E9D7;
$bg-form-error-message: #FDDCD8;
$bg-color-form-sign-in: #ffffff;
$box-shadow-product-hover : 0 0 8px 0px rgba(34, 34, 34, 0.2);

$border-color-form-error: rgba(166, 26, 46, 0.35);